@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&display=swap');
.menu{
    background-color: rgba(20, 18, 39, 1);
    width: 100%;
    height: 60px;
    position : fixed;
    top : 0px;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;

    justify-content: space-around;
    align-items: center;
    
    /* border-bottom: solid 0.5px black ; */
}


.liMenu{
    display: inline;
    margin: 0px 14px ;
    font-size: 18px;
}



.btnContacto{
    background-color: #1465BB;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    
}



