@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.divCarHabi{
    width: 321px;
    height: 329px;
    background-color: #000028;
    margin:  50px auto ;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 0px rgba(33,150,243,1);
    -webkit-box-shadow: 4px 4px 7px 0px rgba(33,150,243,1);
    -moz-box-shadow: 4px 4px 7px 0px rgba(33,150,243,1);
    color: white;
    font-family: 'Oswald', sans-serif;

}

.h3CardHabi{
    color: #2196F3;
    text-align: center;
    font-size: 29px;
    margin-top: 23px;
}


.ulCardHabi{
    margin-top: 10px;
    margin-left: 50px;
}

.liCardHabi{
    font-size: 22px;
}